./docker-compose.override.yml

# ========================
# IDEs
# ========================
**/*.swp
.vscode/
.idea

# ========================
# Environments
# ========================
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
